<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  
    <ion-navbar color="white">
      <ion-title></ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <h2 class="title">Forgot Password</h2>
    <ion-list>
      <form #frmLogin="ngForm">
        <ion-item>
            <ion-label stacked>EMAIL ADDRESS</ion-label>
            <ion-input name="email" type="email" [(ngModel)]="Login.email"></ion-input>
        </ion-item>
      </form>
    </ion-list>
   
  
  </ion-content>
  <ion-footer no-border>
    <ion-toolbar color="white">
      <div *ngIf="validated() && !isLoading" class="containerFooter">
        <button (click)="sendRequest(frmLogin)" large full color="primary" ion-button> Send Request </button>
      </div>
      <div *ngIf="isLoading" text-center>
        <ion-spinner name="dots" color="primary"></ion-spinner>
      </div>
    </ion-toolbar>
  </ion-footer>
  