page-forget-password-firebase {
    .title{
        margin-top:10px !important;
        margin-left : 15px;
        font-size : 28px;
    }
    .sub-title{
        margin-top:10px !important;
        margin-left : 15px;
        font-size : 14px;
        color: #666;
    }
    
    .submit-button{
        margin: auto;
        margin: 15px 0 0 15px;
        button{
            margin-top : 15px;
            padding : 25px;
            text-transform: none !important;
        }
    }
    form{
        ion-item{
            color : #505050 !important;
            ion-label{
                font-size: 12pt !important;
                margin-bottom : 15px !important;
                margin-top: 25px !important;
            }
            ion-input{
                font-size : 12pt;
            }
        }
    }

    .toastError{
   .toast-wrapper{
      background: #d0021b;
      text-align: center;
      left: 0;
      right: 0;
      //top: -10px !important;
      border-radius: 0px !important;
      .toast-message{
          color : #f0b0b7;
      }
   }
}


}
